/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&family=Work+Sans:wght@400;600;700&display=swap');

/* Root colors and font family */
:root {
    --primary-yellow: hsl(47, 88%, 63%);
    --neutral-white: hsl(0, 0%, 100%);
    --neutral-grey: hsl(0, 0%, 50%);
    --neutral-black: hsl(0, 0%, 7%);

    --ff-figtree: 'Figtree', sans-serif;
}

body {
    background-color: var(--primary-yellow);
    font-family: var(--ff-figtree);
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-content: center;
    font-size: 16px;
}

.container {
    background-color: var(--neutral-white);
    display: grid;
    place-content: center;
    max-width: 400px;
    height: 512px;
    padding: 1.5rem;
    margin: 1rem;
    border: 1px solid black;
    border-radius: 1.5rem;
    box-shadow: 10px 10px;
}

.illustration img {
    width: 100%;
    border-radius: 5%;
}

.learning {
    background-color: var(--primary-yellow);
    width: min-content;
    padding: 6px 13px 6px 13px;
    margin-top: 16px;
    margin-bottom: 10px;
    font-weight: 800;
    border-radius: .5rem;
    font-size: 12px;
}

.date {
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 13px;   
}

h1, a {
    font-size: 22px;
    font-weight: 800;
    color: var(--neutral-black);
    text-decoration: none;
    margin-bottom: 12px;
}

a:hover {
    color: var(--primary-yellow);
}

.text {
    font-size: 14px;
    font-weight: 600;
    color: var(--neutral-grey);
    line-height: 1.4;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin-top: 32px;
}

img {
    width: 10%;
}

span {
    color: var(--neutral-black);
    font-weight: 800;
    font-size: 14px;
}

/* Reponsive mobile design 375px */

@media screen and (max-width: 375px) {

    a {
    font-size: 16px;
    }
}